.title {
    font-size: 29px;
    font-weight: 500;
    color: white;
  }
  
  .daily-item {
    background-image: linear-gradient(to bottom right, rgb(128, 111, 223), rgba(248, 53, 53, 0.788));
    border-radius: 15px;
    height: 40px;
    margin: 5px;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    padding: 5px 20px;
  }
  
  .icon-small {
    width: 50px;
  }
  
  .daily-item .day {
    cursor: inherit;
    color: #ffffff;
    flex: 1 1;
    font-weight: 500;
    margin-left: 15px;
  }
  
  .description {
    cursor: inherit;
    flex: 1 1;
    margin-right: 15px;
    text-align: right;
    color: white;
  }
  
  .min-max {
    color: #ffffff;
  }
  
  .daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    row-gap: 0;
  }
  
  .daily-details-grid-item {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
  }
  
  .daily-details-grid-item label:first-child {
    color: #ffffff;
  }
  
  .daily-details-grid-item label:last-child {
    color: #ffffff;
  }